
<!-- HEADER
------------------>
<header class="w-100 text-white">
  <div class="w-100 d-flex">
      <div class="btn-Menu-Header">
          <i class="fas fa-bars icon-menu-pro" id="btn-menu"></i>
      </div>

      <div class="Logo-Kartar-Header">
          <div class="d-flex kantar-pro-header">
              <img src="../../../assets/images/KANTAR_logo.png" alt="Kantar" class="kantar-pro">
          </div>
      </div>
  </div>
  <!-- <div class ="line-pro"></div> -->
</header>

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" style="margin-top: 5px; font-size: 17px;">
    <button mat-icon-button (click)="snav.toggle()" class="btn-menu" id="auxUpdate"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
          <mat-accordion>
            <!-- OPCIONES USUARIO -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <mat-icon class="icono">person</mat-icon>
                      Profile
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <!-- INFORMACIÓN -->
                  <a mat-list-item [routerLink]="" (click)="ActualizarInfo()">
                    <mat-icon class="icono">edit</mat-icon>
                    Update
                  </a>
                  <!-- EQUIPO -->
                  <a mat-list-item [routerLink]="['']">
                      <mat-icon class="icono">people_alt</mat-icon>
                      Team
                    </a>
                  <!-- CONFIGURACION -->
                  <a mat-list-item [routerLink]="" (click)="idioma()">
                    <mat-icon class="icono">vpn_lock</mat-icon>
                    Language
                  </a>
              </mat-expansion-panel>
              <!-- OPCIONES PROYECTO -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <mat-icon class="icono">collections_bookmark</mat-icon>Projects
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <!-- LISTA DE PROYECTOS -->
                  <a mat-list-item [routerLink]="['projects']">
                    <mat-icon class="icono">library_books</mat-icon>
                    My Projects
                  </a>
                  <!-- CREAR PROYECTO -->
                  <a mat-list-item [routerLink]="['']">
                    <mat-icon class="icono">library_add</mat-icon>
                    New Project
                  </a>
                  <!-- REPORTES -->
                  <a mat-list-item [routerLink]="['']">
                    <mat-icon class="icono">insert_chart_outlined</mat-icon>
                    Report
                  </a>
              </mat-expansion-panel>
            </mat-accordion>
            <!-- CERRAR SESION -->
            <a mat-list-item [routerLink]="['']">
                <mat-icon class="icono">no_meeting_room</mat-icon>
                Close
              </a>
      </mat-nav-list>
    </mat-sidenav>
          <mat-sidenav-content>
            <!-- ACTUALIZAR USUARIO -->
            <div id="update-user">
              <div id="btn-close">
                <mat-icon (click)="closePanel()" class="icono">close</mat-icon>
              </div>
              <div>
                Update Information
              <br/>
              <!-- USUARIO -->
              <div class="width-inputs">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text border-inputs" id="basic-addon1"><mat-icon class="icono">account_box</mat-icon></span>
                  </div>
                  <input type="text" class="form-control border-inputs" [(ngModel)]="Nombre" >
                </div>
              </div>
              <!-- APELLIDO -->
              <div class="width-inputs">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text border-inputs" id="basic-addon1"><mat-icon class="icono">assignment_ind</mat-icon></span>
                  </div>
                  <input type="text" class="form-control border-inputs" [(ngModel)]="Apellido" >
                </div>
              </div>
              <!-- CORREO -->
              <div class="width-inputs">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text border-inputs" id="basic-addon1"><mat-icon class="icono">email</mat-icon></span>
                  </div>
                  <input type="text" class="form-control border-inputs" [(ngModel)]="Correo" >
                </div>
              </div>
              <!-- CONTRASEÑA -->
              <div class="width-inputs">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text border-inputs" id="basic-addon1"><mat-icon class="icono">enhanced_encryption</mat-icon></span>
                  </div>
                  <input type="password" class="form-control border-inputs" [(ngModel)]="Password" >
                  <input type="text" style="display:none" [(ngModel)]="UserId" >
                </div>
              </div>
              <button (click)="ActualizarInfoUser()" type="button" class="btn btn-outline-light" style="width: 50%; margin-top: 15px;">Guardar</button>
            </div>
          </div>
          <!-- ACTUALIZAR USUARIO -->
          <div id="change-leng">
            <div id="btn-close">
                <mat-icon (click)="closeIdioma()" class="icono">close</mat-icon>
            </div>
            <div>
                LANGUAJE
                <br/>
                <div class="width-inputs">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text border-inputs" id="basic-addon1"><mat-icon class="icono">public</mat-icon></span>
                    </div>
                      <select class="form-control border-inputs" id="Prueba" >
                        <option value="en" value="en">Ingles</option>
                        <option value="es" value="es">Español</option>
                      </select>
                  </div>
                </div>
                <button type="button" class="btn btn-outline-light" style="width: 50%; margin-top: 15px; " (click)="language()">Guardar</button>
            </div>
          </div>
            <!------------------------>
            <router-outlet></router-outlet>
              <!-- MENSAJE DE ERROR -->
            <div class="div-not-show" id="msjMenu">
              <div class="msj-error-global mx-auto">
                Done! <strong (click)="closeMSJ()">Close</strong>
              </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>

      <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
