<mat-card class="mx-auto mt-3">
  <mat-card-header>
      <!-- OPCIONES -->
      <mat-toolbar>
          <mat-toolbar-row>
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <div class="col-sm-3 my-1">
              <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text btn-buscar"><mat-icon>search</mat-icon></div>
                </div>
                <input (keyup)="applyFilter($event.target.value)" type="text" class="form-control" placeholder="search">
              </div>
            </div>
            <mat-icon class="cursor-pointer">info</mat-icon>
            <mat-icon class="cursor-pointer" (click)="mostrarNuevaIncidencia()">add_circle</mat-icon>
          </mat-toolbar-row>
      </mat-toolbar>
      <!-- <mat-toolbar class="new-incidence"> -->
          <!-- CREAR NUEVA INCIDENCIA -->
          <!-- <mat-toolbar-row> -->
              <!-- <div class="form-group col-md-3">
                  <input type="number" class="form-control" placeholder="Versión del material" [(ngModel)]="VerMaterial" id="VerMaterial">
              </div>
              <div class="form-group col-md-3">
                  <input type="number" class="form-control" placeholder="Versión del Script" [(ngModel)]="VerScript" id="VerScript">
              </div>
              <div class="form-group col-md-3">
                  <input type="text" class="form-control" placeholder="Tipo de incidencia" [(ngModel)]="TipoIn" id="TipoIn">
              </div>
              <div class="form-group col-md-3">
                  <input type="text" class="form-control" placeholder="Causal de incidencias" [(ngModel)]="Causal" id="Causal">
              </div>
          </mat-toolbar-row>
          <mat-toolbar-row>
              <div class="form-group col-md-8">
                  <input type="text" class="form-control" placeholder="Comentario" [(ngModel)]="Comentario" id="Comentario">
              </div>
              <div class="form-group col-md-2">
                  <input type="text" class="form-control" placeholder="Pregunta" [(ngModel)]="pregunta" id="pregunta">
              </div>
              <div class="form-group col-md-1">
                  <select class="custom-select mr-sm-2" [(ngModel)]="Ronda" id="Ronda">
                      <option value="1">R1</option>
                      <option value="2">R2</option>
                      <option value="3">R3</option>
                  </select>
              </div>
              <div class="form-group col-md-1">
                  <div class="input-group-text btn-buscar cursor-pointer d-flex justify-content-center"><mat-icon (click)="onSubmit()">done_outline</mat-icon></div>
              </div>
          </mat-toolbar-row>
          <p id="msj_error" class="div-no-show">{{ "IS_EM" | translate }}</p>
          <p id="msj_done" class="div-no-show">{{ "IS_Done" | translate }}</p>
          <p id="btn_error" class="div-no-show">{{ "IS_BTNE" | translate }}</p> -->
        <!-- </mat-toolbar> -->
  </mat-card-header>
  <!-- CONTENIDO DE LA TABLA -->
  <!-- <mat-card-content>
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort> -->
              <!-- ID Column -->
              <!-- <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container> -->

              <!-- Progress Column -->
              <!-- <ng-container matColumnDef="progress">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> JobName </th>
                  <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
              </ng-container> -->

              <!-- Name Column -->
              <!-- <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> JobNumber </th>
                  <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container> -->

              <!-- Color Column -->
              <!-- <ng-container matColumnDef="color">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> JobnumberGDC </th>
                  <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
      </div>
  </mat-card-content> -->
</mat-card>
