
mat-card{ width: 95%; box-shadow: 0px 2px 5px 0px #888888; }

mat-card-header{ width: 100%; display: block; border-bottom: inset;}

.example-icon { padding: 0 14px; }

.example-spacer { flex: 1 1 auto; }

.btn-buscar{ background-color: black !important; color: white !important; }

.cursor-pointer{ cursor: pointer; }

.new-incidence{ display: none; }

.div-no-show { display: none; }

.new-incidence > mat-toolbar-row{ background: whitesmoke; }


/* ------------------------------------------- */
/* ------------------ TABLA ------------------ */
/* ------------------------------------------- */

.delete-email{ cursor: pointer; color: red; }

.delete-email:hover{  color: red; }

.btn-dropdown-table{ color: #edf2f9!; border: none; }

.btn-dropdown-table:hover{ box-shadow: 0px 2px 5px 0px #888888; }

.pruebabox{ box-shadow: 0px 2px 5px 0px #888888;}

table { width: 100%; }

.mat-form-field { font-size: 14px; width: 100%; }

td, th { width: 25%; }
