.container-cost{
  width: 95%;
  border: 1px #888888 solid;
  margin-top: 20px;
  box-shadow: 0px 2px 5px 0px #888888;
}

.icono-info{
  position: absolute;
    right: 15px;
    cursor: pointer;
    color: #007bff;
}

mat-form-field {
  margin-right: 12px;
}

mat-expansion-panel:hover{
  background-color: #f7f4f3c4;
  border: 1px #d0a727 solid;
  border-radius: 10px;
}

mat-icon{
  margin-right: 10px;
  color: #d0a727;
}

.add{
  float: right;
  cursor: pointer;
}

#newAdd {
  display: none;
}

#newAdd > div.d-flex > div{
margin: 0 10px;
}

#newAdd > div.d-flex > div:nth-child(1){
  width: 25%;
}

#newAdd > div.d-flex > div:nth-child(2){
  width: 25%;
}

#newAdd > div.d-flex > div:nth-child(3){
  width: 15%;
}

#newAdd > div.d-flex > div:nth-child(5){
  padding-top: 30px;
}

.newAddicional > div.d-flex > div{
  margin: 0 10px;
}
  
.newAddicional > div.d-flex > div:nth-child(1){
  width: 25%;
}
  
.newAddicional > div.d-flex > div:nth-child(2){
  width: 25%;
}
  
.newAddicional > div.d-flex > div:nth-child(3){
  width: 15%;
}
  
.newAddicional > div.d-flex > div:nth-child(5){
  padding-top: 30px;
}

.facturado{
  width: 25%;
  padding-top: 10px;
  margin-left: 15px;
}

.totalCost{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.totalCost > div{
  margin:0 10px;
}
